---
import DefaultLayout from "../layouts/DefaultLayout.astro";

---

<DefaultLayout>
    <div class="flex h-full items-center justify-center">
        <h1>About Me Page</h1>
    </div>
</DefaultLayout>