---
import ContactMeNavLink from './NavLinks/ContactMeNavLink.astro';
import GithubNavLink from './NavLinks/GithubNavLink.astro';
import HomeNavLink from './NavLinks/HomeNavLink.astro';
import LinkedInNavLink from './NavLinks/LinkedInNavLink.astro';

---

<nav class="flex flex-row w-full h-16 bg-slate-600 px-20 justify-around items-center text-white">
    <div class="flex items-center gap-6 ml-28">
        <HomeNavLink />
        <ContactMeNavLink />
        <GithubNavLink />
        <LinkedInNavLink />
    </div>
</nav>
