---
import GithubIcon from '../components/icons/GithubIcon.astro';
import ContactMeIcon from './icons/ContactMeIcon.astro';
import LinkedInIcon from './icons/LinkedInIcon.astro';
---

<nav class="flex flex-row w-full h-16 bg-slate-600 px-20 justify-around items-center text-white">
    <div>
        <a href="/">Home</a>
    </div>
    <div class="flex items-center">
        <div class="mr-4">
            <a href="https://github.com/tajkirkpatrick" target="_blank" class="flex items-center gap-2">
                <GithubIcon />
                <span>Github</span>
            </a>
        </div>
        <div class="mr-4">
            <a href="https://linkedin.com/in/tajkirkpatrick" target="_blank" class="flex items-center gap-2">
                <LinkedInIcon />
                <span>LinkedIn</span>
            </a>
        </div>
        <div class="mr-4">
            <a href="/contact" class="flex items-center gap-2">
                <ContactMeIcon width="24" height="24" />
                <!-- <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    Contact Me
                </button> -->
                <span>Contact Me</span>
            </a>
        </div>
    </div>
</nav>
