---
import ContactMeIcon from "../icons/ContactMeIcon.astro";
---

<div>
    <a href="/contact" class="flex items-center gap-2">
        <button class="flex gap-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
            <ContactMeIcon height="24" width="24" />
            Contact Me
        </button>
        <!-- <span>Contact Me</span> -->
    </a>
</div>