---
import ContactMeIcon from "../icons/ContactMeIcon.astro";
---

<div>
    <a href="/contact" class="flex items-center gap-2">
        <ContactMeIcon height="24" width="24" />
        Contact Me
    </a>
</div>