---
import ContactMeIcon from "../icons/ContactMeIcon.astro";
---

<div class="flex gap-2">
    <a href="/contactme" class="flex items-center gap-2 text-center">
        <ContactMeIcon height="24" width="24" />
        <span class="hidden md:block">Contact Me</span>
    </a>
</div>