---
import GithubIcon from "../icons/GithubIcon.astro";
---

<div>
    <a href="https://github.com/tajkirkpatrick" target="_blank" class="flex items-center gap-2">
        <GithubIcon />
        <span>Github</span>
    </a>
</div>