---
import HomeIcon from "../icons/HomeIcon.astro";

---

<div>
    <a class="flex items-center justify-center gap-2" href="/">
        <HomeIcon />
        <span class="hidden md:block">Home</span>
    </a>
</div>