---
import LinkedInIcon from "../icons/LinkedInIcon.astro";
---

<div>
    <a href="https://linkedin.com/in/tajkirkpatrick" target="_blank" class="flex items-center gap-2">
        <LinkedInIcon />
        <span class="hidden md:block">LinkedIn</span>
    </a>
</div>