---
import NavBar from "../components/NavBar/NavBar.astro";

const {title = 'Taj Kirkpatrick Web Services | TKWS'} = Astro.props
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>{title}</title>
		<meta name="description" content="Taj Kirkpatrick Web Services powered by Astro JS!">
		<meta name="theme-color" content="#ffffff" >
		<link rel="icon" href="/favicon.ico" type="image/png" sizes="16x16">
		<link rel="mask-icon" href="/favicon.ico" color="#ffffff">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
		<link rel="pwa-icon" href="/pwa-192x192.png" sizes="192x192">
		<link rel="alternate-pwa-icon" href="pwa-512x512.png" sizes="512x512">
		<link rel='manifest' href='manifest.webmanifest' crossorigin='use-credentials'>
	</head>
	<body>
        <NavBar/>
        <main class="w-full h-screen overflow-hidden bg-slate-300">
            <slot />
        </main>
		<script src="/src/index.ts"></script>
	</body>
</html>
